html ,body{
    margin :0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

.topbar{
    height: 10vh;
    background-color: #1890ff;
    display: flex;
    justify-content: center;
}
.card {
    border:1px solid #ebebeb;
    position: relative;
    top: 25%;
    width: 50%;
    color:black;
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    box-shadow:  0 1px 0 0 #ebebeb;
    min-height: 100vh;
    border-radius: 4px;
}
ul{
    padding-inline-start: 0;
}
ul li{
    list-style-type: none;
    padding: 12px;
    line-height: 1.5;
    font-variant: tabular-nums;
    border-bottom: 1px solid #e8e8e8;
    margin: 2px;
    border: 1px solid #bebebe;
    border-radius: 4px;
    line-height: 1.5;
    font-size: 14px;
    list-style: none;
}
button{
    padding: 8px 16px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    background-color: #1890ff;
    border-color: #1890ff;
    color:#fff;
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    margin-bottom: 5px;
    outline: 0;
    line-height: 1.499;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}
button:hover{
    background-color: #40a9ff;
    border-color: #40a9ff;
    text-decoration: none;
}
.drop-area{
    min-height: 20%;
    height: 300px;
}